In [2]:
# connect to our database...


import dbconnect as db

conn = db.connect("mgibson_dui")

Connected!

In [18]:
# To make a new dataframe with aggregate values:


import pandas as pd
import numpy as np

acc = pd.read_sql_query("SELECT * FROM %s;" % "best_accdata", conn)

gb = acc.groupby('fips')['fatals'].sum()

acc.groupby('fips', as_index=False)['fatals'].sum()

      fips  fatals
0    29003       2
1    29005       3
2    29007       3
3    29009       5
4    29011       3
5    29013       5
6    29015       7
7    29017       2
8    29019      15
9    29021       6
10   29023       7
11   29025       2
12   29027      14
13   29029       9
14   29031      12
15   29033       1
16   29035       6
17   29037      12
18   29039       3
19   29041       1
20   29043      11
21   29045       2
22   29047      20
23   29049       4
24   29051       5
25   29055       1
26   29057       1
27   29059       2
28   29063       1
29   29065       5
..     ...     ...
79   29169       4
80   29171       1
81   29173       3
82   29175       5
83   29177       4
84   29179       5
85   29181       4
86   29183      25
87   29185       7
88   29186       6
89   29187      11
90   29189      68
91   29195       3
92   29199       1
93   29201       5
94   29203       2
95   29205       2
96   29207       6
97   29209       7
98   29211       2
99   29213      16
100  29215      16
101  29217       3
102  29219       9
103  29221       8
104  29223       1
105  29225      17
106  29227       1
107  29229       1
108  29510      50

[109 rows x 2 columns]